<div class="container">
  <div class="registration-area">
    <h2 class="login-head">Registration</h2>
    <form name="registrationForm" (ngSubmit) = "submitRegistration()">
      <mat-form-field class="example-full-width">
        <input class="login-user" matInput placeholder="Enter User Name" required name="username"
               [(ngModel)] = "registrationData.username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input class="login-user" matInput placeholder="Enter Name" name="name" [(ngModel)] = "registrationData.name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input class="login-user" matInput placeholder="Enter Email Id" required name="emailId" [(ngModel)] = "registrationData.email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input class="login-user" type="password" matInput placeholder="Enter Password" required
               name="password" [(ngModel)] = "registrationData.password">
      </mat-form-field>
      <div class="form-end-button">
        <input type="submit" class="submit-button" value="Submit" mat-button>
        <button class="register-button" mat-raised-button [routerLink]="['/login']">Login</button>
      </div>
    </form>
  </div>
</div>
